<div class="btn-group" role="group" aria-label="Basic outlined example">
  <a href="/host/addbuilding/{{this.id}}?id={{this.id}}&type={{this.type}}"><button type="button" class="btn btn-outline-primary">Add buidling</button></a>
</div>
<hr class="my-4">
<div class = "mt-4">
  <div class = "row">
    {{#each buildingData}}
    <div class="col-sm-6 col-lg-4">
      <div class="card">
        <img src={{this.image}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Địa chỉ</h5>
          <p class="card-text">{{this.street}}</p>
          <p class="card-text">{{this.ward}}</p>
          <p class="card-text">{{this.district}}</p>
          <a href="/host/add/building/{{this.id}}?id={{../id}}&type={{../type}}" method = "post" class="btn btn-primary" name = "id" value = {{this.id}}>Thêm</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>