<div class="card mb-3">
  <div class="card-body">
    <p class="card-text">ID chủ hộ: {{contract.hostID}}.</p>
    <p class="card-text">ID người ở: {{contract.renterID}}.</p>
    <p class="card-text">Tiền cọc: {{contract.deposit}} VNĐ.</p>
    <p class="card-text">Hạn từ ngày: {{contract.startTime}} đến ngày: {{contract.endTime}}.</p>
    <p class="card-text">Mô tả: {{contract.description}}.</p>
  </div>
</div>
