<div class="card mb-3">
  <div>
    <img src= {{this.image}} style="width:50%; height:50%">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{this.description}}</h5>
    <p class="card-text">ID chủ hộ: {{hostid}}</p>
    <p class="card-text">ID người ở: {{renterid}}.</p>
    <p class="card-text">Tiền cọc{{this.deposit}}.</p>
    <p class="card-text">Hạn từ ngày {{this.starttime}} đến ngày {{endtime}}.</p>
    <p class="card-text">Mô tả: {{this.description}}.</p>
  </div>
</div>