<form class = "mt-4">
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <a href="/host/add?id={{this.id}}&type={{this.type}}"><button type="button" class="btn btn-outline-primary">Add</button></a>
    <a href="/host/edit?id={{this.id}}&type={{this.type}}"><button type="button" class="btn btn-outline-primary">Edit</button></a>
    <a href="/host/delete?id={{this.id}}&type={{this.type}}"><button type="button" class="btn btn-outline-primary">Delete</button></a>
  </div>
  <form class="needs-validation" novalidate action = "/host?id={{this.id}}&type={{this.type}}" method = "post">
    <div class="col-md-4">
      <label for="state" class="form-label">Lọc</label>
      <select class="form-select" id="state" name = "state" required>
        <option value = "">Chọn</option>
        <option value = "Còn trống">Còn trống</option>
        <option value = "Đã thuê">Đã thuê</option>
        <option value = "Tất cả">Tất cả</option>
      </select>
    </div>
    <button class= "btn btn-primary btn" type="submit">Lọc</button>
  </form>
  <hr class="my-4">
  <div class = "row">
    {{#each roomsData}}
    <div class="col-sm-6 col-lg-4">
      <div class="card">
        <img src={{this.image}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text">{{this.utilities}}</p>
          <a href="#id={{this.id}}&type={{this.type}}?id={{this.id}}&type={{this.type}}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>