

<form class = "mt-4">
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <a href="/host/add?id={{this.id}}&type={{this.type}}"><button type="button" class="btn btn-outline-primary">Thêm</button></a>
    <a href="/host/delete?id={{this.id}}&type={{this.type}}"><button type="button" class="btn btn-outline-primary">Xóa</button></a>
  </div>
  <form class="needs-validation" novalidate action = "/host" method = "post">
    <input type="hidden" name="id" value={{this.id}} /> 
    <input type="hidden" name="type" value={{this.type}} /> 
    <div class="col-md-4">
      <label for="state" class="form-label">Lọc</label>
      <select class="form-select" id="state" name = "state">
        <option value = "">Chọn</option>
        <option value = "Còn trống">Còn trống</option>
        <option value = "Đã thuê">Đã thuê</option>
        <option value = "Tất cả">Tất cả</option>
      </select>
    <button class= "btn btn-primary btn" type="submit">Lọc</button>
    </div>
  </form>
  <hr class="my-4">
  <div class = "row">
    {{#each roomsData}}
      <div class="col-sm-6 col-lg-4">
      <div class="card">
        <img src={{this.image}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mô tả: {{this.description}}</h5>
          <p class="card-text">Tiện ích phòng: {{this.utilities}}</p>
          <p class="card-text">Trạng thái: {{this.state}}</p>
          <a href="room/detail/{{this.id}}?id={{../id}}&type={{../type}}" method = "post" action = "/room/detail/?id={{../id}}&type={{../type}}h" class="btn btn-primary" name = "id" value = {{this.id}}>Xem chi tiết</a>
          {{#ifEquals this.state 'Đã thuê'}}
          <a href="/host/invoice/{{this.id}}?id={{../id}}&type={{../type}}" method = "post" action = "/host/invoice?id={{../id}}&type={{../type}}h" class="btn btn-primary" name = "id" value = {{this.id}}>Xem hóa đơn</a>
          {{/ifEquals}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>