<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{invoice.description}}</h5>
    <p class="card-text">ID chủ hộ: {{invoice.hostid}}</p>
    <p class="card-text">ID người ở: {{invoice.renterid}}.</p>
    <p class="card-text">Loại: {{invoice.renterid}}.</p>
    <p class="card-text">Chi phí: {{invoice.price}}.</p>
    <p class="card-text">Thời gian: {{invoice.time}}.</p>
    <p class="card-text">Mô tả: {{invoice.description}}.</p>
  </div>
</div>