<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{this.description}}</h5>
    <p class="card-text">ID chủ hộ: {{hostid}}</p>
    <p class="card-text">ID người ở: {{renterid}}.</p>
    <p class="card-text">Loại: {{renterid}}.</p>
    <p class="card-text">Chi phí: {{price}}.</p>
    <p class="card-text">Thời gian: {{time}}.</p>
    <p class="card-text">Mô tả: {{this.description}}.</p>
  </div>
</div>