{{#each Room}}
<div class="card mb-3">
  <script>
        Handlebars.registerHelper('ifEquals', function(arg1, arg2, options) {
          return (arg1 == arg2) ? options.fn(this) : options.inverse(this);
        });      
    </script>
  <div>
    <img src= {{this.image}} style="width:50%; height:50%">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{this.description}}</h5>
    <p class="card-text">Thông tin phòng:</p>
    <p class="card-text">Số lượng người ở: {{this.limit}}.</p>
    <p class="card-text">Tiện ích: {{this.utilities}}.</p>
    <p class="card-text">Trạng thái: {{this.state}}.</p>
  </div>
  {{#ifEquals ../type 'host'}}
  {{#ifEquals this.state 'Đã thuê'}}
    <form class="needs-validation" novalidate action = "/createinvoice" method = "post">
    <input type="hidden" name="id" value={{this.id}} /> 
    <input type="hidden" name="type" value={{this.type}} /> 
    <button class= "btn btn-primary btn" type="submit">Tạo hóa đơn</button>
    </form>
    {{/ifEquals}}
    {{#ifEquals this.state 'Còn trống'}}  
    <form class="needs-validation" novalidate action = "/createcontract" method = "post">
    <input type="hidden" name="id" value={{this.id}} /> 
    <input type="hidden" name="type" value={{this.type}} /> 
    <button class= "btn btn-primary btn" type="submit">Tạo hợp đồng</button>
    </form>
    {{/ifEquals}}
    <form class="needs-validation" novalidate action = "/edit" method = "post">
    <input type="hidden" name="id" value={{this.id}} /> 
    <input type="hidden" name="type" value={{this.type}} /> 
    <button class= "btn btn-primary btn" type="submit">Sửa phòng</button>
    </form>
  {{/ifEquals}}
</div>
{{/each}}