{{#each Room}}
<div class="card mb-3">
  <script>
        Handlebars.registerHelper('ifEquals', function(arg1, arg2, options) {
          return (arg1 == arg2) ? options.fn(this) : options.inverse(this);
        });      
    </script>
  <div>
    <img src= {{this.image}} style="width:50%; height:50%">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{this.description}}</h5>
    <p class="card-text">Thông tin phòng:</p>
    <p class="card-text">Số lượng người ở: {{this.limit}}.</p>
    <p class="card-text">Tiện ích: {{this.utilities}}.</p>
    <p class="card-text">Trạng thái: {{this.state}}.</p>
  </div>
  {{#ifEquals ../type 'host'}}
    {{#ifEquals this.state 'Còn trống'}}  
    <form class="needs-validation" novalidate action = "/createcontract" method = "post">
    <input type="hidden" name="id" value={{this.id}} /> 
    <input type="hidden" name="type" value={{this.type}} /> 
    <a href="/host/contract/add/{{this.id}}?id={{../id}}&type={{../type}}"><button type="button" class="btn btn-outline-primary" name = "id" value = {{this.id}}>Tạo hợp đồng</button></a>
    </form>
    {{/ifEquals}}
    {{#ifEquals this.state 'Đã thuê'}}  
    <form class="needs-validation" novalidate action = "/createcontract" method = "post">
    <input type="hidden" name="id" value={{this.id}} /> 
    <input type="hidden" name="type" value={{this.type}} /> 
    <a href= "/host/contractDeleted/{{this.id}}?id={{../id}}&type={{../type}}" method = "post" class="btn btn-primary" name = "id" value = {{this.id}}>Xóa hợp đồng</a>
    </form>
    {{/ifEquals}}
  {{/ifEquals}}
</div>
{{/each}}