<div class = "mt-4">
  <div class = "row">

  <div class="container">
     <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method = "post" action = "/search  ">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" name = "search" id = "search">
    </form>
  </div>

    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#event .card").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>

    <hr class="my-4">
    {{#each roomsData}}
    <div class="col-sm-6 col-lg-4">
      <div class="card">
        <img src={{this.image}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mô tả</h5>
          <p class="card-text">{{this.description}}</p>
          <a href="room/detail/{{this.id}}?userid={{this.userid}}&type={{this.type}}" method = "post" action = "/room/detail/?userid={{this.userid}}&type={{this.type}}h" class="btn btn-primary" name = "id" value = {{this.id}}>Xem chi tiết</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>